:root {
  --title-blue-light: hsl(245, 55%, 80%);
  --title-blue-dark: hsla(245, 36%, 40%);
  --credit-blue-light: hsl(224, 100%, 85%);
  --credit-blue-dark: hsl(224, 41%, 38%);
  --b5-blue-dark-trans: hsla(224, 41%, 24%, 0.75);
  
}

html {
  min-height: 100%;

  background-color: #111;
  color: #ddd;
  
  font-family: Serpentine, sans-serif;
  font-synthesis: none;

  background-image: url("img/b5_station.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  color: var(--title-blue-dark);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  margin: 1rem 0;
  flex: 0 0 auto;
  -webkit-text-stroke: 2px var(--title-blue-light);
  text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.75);
}

#spoiler-toggle {
  margin: 0.5rem 0;
}

#board {
  display: block;
  flex: 1 1 100%;
  width: 100%;
  
  display: grid;
  justify-content: center;
  --grid-size: calc((100vmin - 8rem) / 5);
  grid-template-columns: repeat(5, var(--grid-size));
  grid-template-rows: repeat(5, var(--grid-size));
}

.cell {
  font-size: 2.25vmin;
  text-align: center;
  color: #ccc;
  margin: 0.1rem;
  padding: 2vmin;
  border-radius: 0.4rem;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: saturate(15%) blur(10px);
  cursor: pointer;
}

.cell.free {
  font-size: 5vmin;
}

.cell.done {
  background-color: var(--b5-blue-dark-trans);
  color: var(--credit-blue-light);
  text-shadow: 
    0.01em 0.01em 0 rgba(0,0,0,0.75), 
    0.115em 0.066em 0 var(--credit-blue-dark);
  backdrop-filter: saturate(150%) blur(10px); 
}
.yes-gifs .cell.done {
  background-image: 
    radial-gradient(
      circle,
      hsla(247, 53%, 17%, 0.674) 0%,
      hsla(245, 60%, 27%, 0.607) 65%,
      hsla(230, 66%, 59%, 0.75) 110%
    ),
    var(--bg-gif);
  background-position: center, center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: exclusion, darken;
}
